<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Ethfy", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Etherを受け取る", "/wallet" %></li>
        <li><%= link_to "Etherを送る", "/transfer" %></li>
        <li>1Ehter = ¥<%=  %></li>
        <% if user_signed_in? %>
          <li><%= current_user.email %></li>
          <li><%=  %></li>
          <li><%= link_to "ユーザー情報の変更", edit_user_registration_path %></li>
          <li><%= link_to "ログアウト", sign_out_path %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>